<div class="container_dash tall">
    <div class="left_cont">
        <%= image_tag("admin_avatar.png", class: "avatar") %>
        <span class="admin_name" ><%=current_user.first_name %> <%=current_user.last_name %></span>
        <% if current_user.is_admin %>
            <div class="employeesList">
                <% current_user.company.users.each do |employee|%>
                    <% if employee.has_requests_pending_approval %>
                        <div class="employee hasPendingRequest">
                            <input type="hidden" value=<%= employee.id %> class="employeeID">
                            <div class='employeeName'><%= employee.first_name %> </div>
                            <div class='employeeRequestNotifier'>Request Pening Approval</div>
                            <div class='employeeRequests' hidden>
                                <% employee.request_pending_approval.each do |request|  %>
                                <div class="employeeRequest">
                                    <div class="requestShift">
                                        <%= request.shift.time_string %> on <%= request.shift.date %>
                                    </div>
                                    <div class="requestReason">
                                        Reason: <%= request.reason %>
                                    </div>
                                    <button onclick="approveRequest(<%= request.id %>, this)">Approve</button>
                                    <button onclick="denyRequest(<%= request.id %>, this)">Deny</button>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    <% else %>
                        <div class="employee">
                            <div class='employeeName'><%= employee.first_name %></div>
                            <input type="hidden" value=<%= employee.id %> class="employeeID">
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div id="requestBox" hidden>
                <h5 class="request_header"></h5>
                <%= form_for :request, url: change_shift_path do |f| %>
                    <%= f.hidden_field(:requester_id, value: current_user.id) %>
                    <%= f.hidden_field(:availability, value: false) %>
                    <%= f.hidden_field(:shift_id, value: 1) %>
                    <%= f.text_area :reason, {class: "text_area_box", placeholder: "Please type your reason in here!"} %>
                    <button type="submit" class="btn_shift_change">submit</button>
                <% end %>

            </div>
            <div class="date_box" id='external-events'>
                <h4 class="textarea">Shifts</h4>
                <div class="shiftTemplatesList">
                <% current_user.company.shift_templates.each do |shift_template| %>
                    <div class='external-event' data-shift-template-id="<%=shift_template.id  %>"><%=shift_template.time_string  %></div>
                <% end %>
                </div>
                <button id="newShift" class='btn addShift' onclick="showShiftForm()">New Shift Type</button>
                <div class="shiftTemplateForm" hidden>
                    <h4>Create Shift Type</h4>
                    <label class="start_label">Start Time</label>
                    <select id="shiftTempStartTime">
                        <%= options_for_select(time_options, '450') %>
                    </select>
                    <br>
                    <label class="end_label">End Time</label>
                    <select id="shiftTempEndTime">
                        <%= options_for_select(time_options, '1050') %>
                    </select>
                    <br>
                    <button id="createShift" class='btn addShift' onclick="createShift()">Add</button>
                    <button id="createShift" class='btn addShift' onclick="cancelCreateShift()">Cancel</button>
                </div>
            </div>
        <% end %>
        <div id="requestBox" hidden>
            <h5 class="request_header"></h5>
            <%= form_for :request, url: change_shift_path do |f| %>
                <%= f.hidden_field(:requester_id, value: current_user.id) %>
                <%= f.hidden_field(:availability, value: false) %>
                <%= f.hidden_field(:shift_id, value: 1) %>
                <%= f.text_area :reason, {class: "text_area_box", placeholder: "Please type your reason in here!"} %>
                <button type="submit" class="btn_shift_change">submit</button>
            <% end %>
        </div>
        <div id="availabilityBox" hidden>
            <h5 class="availability_header"></h5>
            <%= form_for :request, url: make_shift_available_path do |f| %>
                <select id="shiftTempOptions" name='shift_template_id'>
                    <%= options_for_select(current_user.company.shift_templates.collect{|shift| [ shift.time_string,shift.id]}) %>
                </select>
                <%= f.hidden_field(:accepter_id, value: current_user.id) %>
                <%= hidden_field_tag(:date, nil, class: "availabilityDate") %>
                <%= f.hidden_field(:availability, value: true) %>
                <%= f.text_area :reason, {class: "text_area_box", placeholder: "Please type your reason in here!"} %>
                <button type="submit" class="btn_shift_change">submit</button>
            <% end %>
        </div>
        <% if current_user.has_pending_requests %>
            <div class="pendingRequests_one">
                <h4>Pending Requests</h4>
                <% current_user.pending_requests.each do |request|%>
                    <div class="pendingRequests">
                        <div class="pendingRequestType"><%= request.type_string %> </div>
                        <div class="pendingRequestDate"><%= request.shift.date.to_formatted_s(:long) %></div>
                        <div class="pendingRequestTime"><%= request.shift.time_string %></div>
                        <div class="pendingRequestReason"><%= request.reason %></div>
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="shiftsForPickUp">
            <h4>Shifts for Pick Up</h4>
            <% current_user.shifts_for_pick_up.each do |request| %>
                <div class="pickUpShift">
                    <hr class="requestSplit">
                    <div class="pendingRequestType"><%= request.type_string %> </div>
                    <div class="pendingRequestDate"><%= request.shift.date.to_formatted_s(:long) %></div>
                    <div class="pendingRequestTime"><%= request.shift.time_string %></div>
                    <div class="pendingRequestReason"><%= request.reason %></div>
                </div>
                <%= form_for request, url: pick_up_shift_path(request.id) do |f| %>
                    <%= f.hidden_field(:accepter_id, value: current_user.id) %>
                    <%= f.submit value:"Pick Up Shift" %>
                <% end %>
            <% end %>
        </div>
        <div class="shiftsForPickUp">
            <h4>Shifts available to give</h4>
            <% current_user.shifts_to_give.each do |request| %>
                <% if current_user.shifts_array.include? "#{request.shift.shift_template_id} - #{request.shift.date}" %>
                <div class="pickUpShift">
                    <hr class="requestSplit">
                    <div class="pendingRequestType"><%= request.type_string %> </div>
                    <div class="pendingRequestDate"><%= request.shift.date.to_formatted_s(:long) %></div>
                    <div class="pendingRequestTime"><%= request.shift.time_string %></div>
                    <div class="pendingRequestTime"><%= request.shift.id %></div>
                    <div class="pendingRequestReason"><%= request.reason %></div>
                    <%= form_for request, url: give_shift_path(request.id) do |f| %>
                        <%= f.hidden_field(:requester_id, value: current_user.id) %>
                        <%= f.submit value:"Give Shift" %>
                    <% end %>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="right_cont">
        <div class="notify" id="note">
            Recent Notification
        </div>
        <input type="hidden" value=<%= current_user.id %> id="employeeID">
        <div id='calendar'></div>

        <div style='clear:both'></div>
    </div>
</div>

<script type="text/javascript">
    var userID = <%= current_user.id %>,
        companyID = <%= current_user.company.id %>,
        timeOptions = <%= raw current_user.company.shift_templates.collect{|shift| [shift.id, shift.time_string] } %> ;

</script>
