<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <!-- the content here copied to temp01.html in temp folder -->
    <div class="carousel_text_cont" onclick='runIt()'>
            <div class="slogan_blocks">
                <div class="box">
                    <p class="text">Simple</p>
                </div>
                <div class="box">
                    <p class="text">Convenient</p>
                </div>
                <div class="box">
                    <p class="text">Reliable</p>
                </div>
            </div>
            <p class="poster"><strong>Sheduling</strong> made <strong>easier</strong>.</p>
        </div>
    <div id='carousel_container'>
        <div id='left_scroll'>
            <%= image_tag("arrow_left.png") %>
        </div>
        <div id='carousel_inner'>
            <ul id='carousel_ul'>
                <li>
                    <a href='#'>
                        <%= image_tag 'coffee.png' %>
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <%= image_tag 'balance.png' %>
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <%= image_tag 'metro.png'%>
                    </a>
                </li>
            </ul>
        </div>
        <div id='right_scroll'>
            <%= image_tag("arrow_right.png") %>
        </div>
    </div>

    <div class="container">
       <div class="content-left">
            <p class="big">Welcome to Shiftable</p>
            <p>Shiftable allows employess to switch shifts with other employees when needed. We make swiching shifts easy for employees and shift-managers.</p>
            <p class="big">About Us</p>
            <p>At Shiftable, we believe that requesting shift change should be <strong>easy, convenient, and reliable.</strong>. We understand the importance of having a dependable online scheduling tool in today's always-connected world. </p>
            </br>
            <h4>Shiftable efficiently automates:</h4>
            <ul>
                <li>Shift-picks by employees</li>
                <li>Shift-change requests by employees</li>
                <li>Manager approval and reassignments</li>
                <li>Manager's ability to add new employees and shifts</li>
            </ul>
        </div>
        <div class="content-right">
           <p>Shiftable is a group project built on Ruby on Rails & JavaScript for General Assembly's Web Development Immersive 2 in Washington, DC.</p><br/><p> Team members include:
            <ul class='team'>
                <li><a href="https://github.com/eerrad213">Erwin Rosas</a><br>as the Back-end lead,</li>
                <li><a href="https://github.com/Babakadam121">Babak Pouradam</a><br>as the Front-end lead</li>
                <li><a href="https://github.com/Eldwick">James Jalandoni</a><br>as Project Lead </li>
                <li><a href="https://github.com/ruchimk">Ruchi Malik</a><br>as Project Manager.</li>
            </ul>
        </div>
    </div>

</body>

</html>
