<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="container_dash tall">
        <div class="left_cont">
            <img src="assets/admin_avatar.png" alt="avatar_image" class="avatar">
            <span class="admin_name" ><%=current_user.first_name %> <%=current_user.last_name %></span>
        </div>

        <div class="right_cont">
            <div class="requestsList">
                <% if current_user.company %>
            <h2>Requests for <%=current_user.company.name %></h2>
            <table>
                <tr>
                    <th>Requests</th>
                    <th>Requester</th>
                    <th>Accepter</th>
                    <th>Apporved by Admin</th>
                    <th colspan="3"></th>
                </tr>
              
                <% if @requests.empty? %>
                    <td class="noposts">No Requests available</td>
                <% else %>

                <% @requests.each do |request| %>
                    <tr>
                        <td><%= request.id %></td>
                        <td><%= request.requester ? request.requester.first_name : "Not Yet Set" %></td>
                        <td><%= request.accepter ? request.accepter.first_name : "Not Accepted"  %></td>
                        <td><%= request.admin ? request.admin.first_name : "Not yet Approved" %></td>
                        <td><%= link_to 'Show', request_path(request) %></td>
                        <% if current_user.try(:is_admin) %>
                        <td><%= link_to 'Destroy', request_path(request),
                            method: :delete, data: { confirm: 'Are you sure you wish to delete this?' } %></td>
                        <% end %>
                    </tr>
                <% end %>
              <% end %>
            </table>
            </div>
            <% end %>
        </div>
            <div class="line"></div>
    </div>
    <script type="text/javascript">
        var userID = <%= current_user.id  %>,
            companyID = <%= current_user.company.id  %>;
    </script>
    <!-- javascript -->
</body>

</html>
