<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/signup_form.css">
</head>

<body>
    <!-- main section for the form -->
    <div class="container tall">
        <div class="signup_container">
        <%= form_for(resource, as: :user, url: create_user_path, html: {class: "form01"}) do |f| %>
            <span class="label">Company Name:</span>
            <%= text_field_tag :company_name, nil, class: "g_inpt" %>
            <span class="label">Email</span>
            <%= f.email_field :email, class: "g_inpt"  %>
            <span class="label">First Name:</span>
            <%= f.text_field :first_name, class: "g_inpt" %>
            <span class="label">Last Name:</span>
            <%= f.text_field :last_name, class: "g_inpt"  %>
            <span class="label">Password:</span>
            <%= f.password_field :password, class: "g_inpt" %>
            <span class="label">Password Confirmation:</span>
            <div class="clear"></div>
            <%= f.password_field :password_confirmation, class: "g_inpt" %>
            <%= f.hidden_field(:is_admin, value: true) %>
            <button type="sumbit" class="input_btn" value="signup">Sign up</button><br><br>
            <a href="/" value="cancel">Cancel</a>
            <!-- <input type="button" class="sub_btn" value="submit"> -->
        <% end %>
        </div>
    </div>

    <!-- javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
