<h1>Welcome to Shiftable</h1>

<% if current_user %>
<%= link_to "Log out", destroy_user_session_path, method: "DELETE"  %>
<%= link_to 'Pending Requests', controller: 'requests' %>

<%= link_to "Sign up your Company", "/signup" %>
<%= link_to "Login", "/users/sign_in" %>
<% end %>
<% if current_user.try(:is_admin) %>
<%= link_to "Add Employee", new_employee_path, method: "get"  %>
<% end %>
<div id='wrap'>

<div id='external-events'>
<h4>Draggable Events</h4>
<div class='external-event' data-shift-time="9am - 3pm">9am - 3pm</div>
<div class='external-event' data-shift-time="3pm - 8pm">3pm - 8pm</div>
<div class='external-event' data-shift-time="8pm - 12am">8pm - 12am</div>
<div class='external-event' id="mydrag" style="width: 150px; height: 50px; background-color: red;">My Drag</div>
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>
</div>

<script>


</script>
