<h1>Availability Request Form:</h1>

<%= form_for @request, url: make_shift_available_path do |f| %>

  <div class="field">
    <%= date_field_tag 'date', nil, placholder: "Date"  %>
    <%= text_field_tag 'time', nil, placholder: "Time"  %>
  </div>
  	<%= f.hidden_field(:accepter_id, value: current_user.id) %>
  	<%= f.hidden_field(:availability, value: true) %>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>