<h1>New Request Form:</h1>

<%= form_for @request, url: change_shift_path do |f| %>

  <div class="field">
    <%= f.label :shift_id %><br>
    <%= f.select :shift_id, current_user.assigned_shifts.map{|shift| ["#{shift.time} on #{shift.date}", shift.id]} %>
  </div>
  <%= f.hidden_field(:requester_id, value: current_user.id) %>
  <%= f.hidden_field(:availability, value: false) %>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>