<% if @request.availability %>
<h1>New Shift Availability Pending:</h1>
<% else %>
<h1>New Request Pending:</h1>
<% end %>

<p>
	<strong>Shift Request:</strong>
	<%= @request.shift_id %>
</p>
<p>
	<strong>Request submited by:</strong>
	<%= @request.requester ? @request.requester.first_name : "Not Yet Set" %><br>
	<strong>Request accepted by:</strong>
	<%= @request.accepter ? @request.accepter.first_name : "Not Accepted"  %><br>
	<strong>Approved by Admin:</strong>
	<%=@request.admin ?  @request.admin.first_name : "Not yet Approved" %><br>
	<strong>Date and time:</strong>
	Request for <%= @request.shift.date %><br>
</p>	

<% if @request.availability && @request.accepter != current_user %>
		<%= form_for @request, url: give_shift_path(@request) do |f| %>
		
		  <div class="field">
		  	<%= f.hidden_field(:requester_id, value: current_user.id) %>
		    <%= f.submit "Give Shift"%>
		  </div>
		<% end %>
	<% elsif (!@request.availability && @request.requester != current_user) %>
		<%= form_for @request, url: pick_up_shift_path(@request) do |f| %>
		  <div class="field">
		  	<%= f.hidden_field(:accepter_id, value: current_user.id) %>
		    <%= f.submit "Pick Up Shift"%>
		  </div>
	<% end %>
<% end %>

<% if current_user.try(:is_admin) %>
		<%= form_for @request, url: approve_shift_path(@request) do |f| %>
			<div class="field">
				<%= f.hidden_field(:admin_id, value: current_user.id) %>
				<%= f.submit "Approve Request"%>
			</div>
	<% end %>
<% end %>

