<!DOCTYPE html>
<html>
<head>
  <title>ShiftManagement</title>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.0/fullcalendar.min.css'%>
  <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.0/fullcalendar.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
        <div class="div_logo">
            <a href="/">
              <%= image_tag("logo.png", class: "logo") %>
            </a>
        </div>
        <% if current_user %>
        <div class="signin" id="users_profile_image"><%= current_user.email %></div>
        <div class="logout" id="users_profile_image">
            <%= link_to "Log Out", destroy_user_session_path, method: "DELETE" %>
        </div>
        <% else %>
        <div class="signin" id="users_profile_image">Sign in</div>
        <div class="signin" id="users_profile_image"><a href="/signup">Sign Up</a></div>
        <div class="signin_popup">
        	<%= form_for(:user, as: :user, url: session_path(:user), html: {class: "popup_login_form"}) do |f| %>
                <span class="input_label">Email</span>
                <%= f.email_field :email, class: "g_inpt" %>
                <span class="input_label">Password</span>
                <%= f.password_field :password, class: "g_inpt" %>
                <button type="sumbit" class="btn" value="Login">Log in</button>
                <input type="reset" class="btn abort" value="Cancel" />
            <% end %>   
        </div>
        <% end %>
        <% if current_user.try(:is_admin) %>
        <div class="signin" id="users_profile_image"><a href="/add_employee">Add Employee</a></div>
        <% end %>
    </div>

<%= yield %>

</body>
</html>
